
/*2-ге завдання*/
button{
	width: 70px;
	height: 20px;
	background-color: black;
	color: #ffff;
	font-size: 10px;
}
#icon{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 200px;
    left: 400px;
}

#icon>img{
	height: 300px;
	width: 300px;
}

.transformLeft {
	transform: rotate(270deg);
}

.transformRight {
	transform: rotate(90deg);
}

.transformDown {
	transform: rotate(180deg);
}