* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    border: 1px solid black;
    margin: 10px auto;
    padding: 30px;
}

.add {
    margin: 10px 0;
}
.czBtn{
    display: block;
    border-radius: 2px;
}